<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>

</head>
<body>
	<div>
		<h1>Welcome Employee! <%= user.username%></h1> 		
	</div>

	
	<a href="/home/vp"> View Product</a> <br>
	<a href="/logout"> logout</a><br>
	<a href="/home/ap"> Add product</a><br>

</body>
</html>